* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e; 
    color: #e0e0e0; 
    margin: 0;
}

header {
    width: 100%;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800; /
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0; /* Texto claro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#profile {
    background-image: url('/istockphoto-1346047861-612x612.jpg');
}

#projects {
    background-image: url('/istockphoto-1284202542-612x612.jpg');
}

.animated {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-container {
    text-align: center;
    background-color: rgba(34, 34, 34, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    color: #ff9800; 
    margin: 0;
}

.profile-description {
    font-size: 16px;
    color: #e0e0e0; 
    margin: 10px 0;
}

.social-icons a {
    font-size: 24px;
    color: #e0e0e0; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff9800; 
}


.projects-container {
    width: 100%;
    max-width: 800px;
    background-color: rgba(34, 34, 34, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.projects-container h2 {
    text-align: center;
    color: #ff9800;
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.project-details {
    text-align: left;
}

.project h1 {
    font-size: 20px;
    margin: 0;
    color: #e0e0e0; 
}

.project p {
    font-size: 14px;
    margin: 5px 0;
    color: #e0e0e0;
}

.project a {
    font-size: 18px;
    color: #ff9800;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}


#skills {
    background-image: url('/backend-4496461_960_720.webp');
}

.skills-section {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e0e0; /* Texto claro */
}

.skills-container {
    max-width: 900px;
    background-color: rgba(34, 34, 34, 0.9); /* Fundo quase preto com opacidade */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.skills-container h2 {
    color: #ff9800; /* Cor de destaque */
    font-size: 28px;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    flex: 1 1 calc(25% - 20px); /* 4 itens por linha, com espaço entre eles */
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.skill i {
    font-size: 40px;
    color: #ff9800; /* Cor de destaque */
    margin-bottom: 10px;
}

.skill h3 {
    font-size: 20px;
    color: #e0e0e0; /* Texto claro */
    margin: 10px 0;
}

.skill p {
    font-size: 16px;
    color: #e0e0e0; /* Texto claro */
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #e0e0e0; 
    animation: pulsate 3s infinite;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}
